.navbar {
    background-color: var(--blue);
    color: white;
}

.nav-link {
    display: block;
    padding: .5rem;
}

.nav-link:hover {
    color: orange;
    transition: .3s;
}

.active,
.brand-title {
    color: orange;
}