.banner {
    height: 90vh;
    background-image: url("https://i.ibb.co/fFdZV2Y/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-text {
    color: white;
}

.btn {
    background-color: var(--blue);
    margin: 40px 10px;
    padding: 8px 30px;
    border-radius: 5px;
    transition: .4s;
}

.btn:hover {
    background-color: orange;
}

.about-btn {
    background-color: orange;
    margin: 40px 10px;
    padding: 8px 30px;
    border-radius: 5px;
    transition: .4s;
}

.about-btn:hover {
    background-color: var(--blue);
}