.or-line {
    height: 1px;
    width: 35%;
    background-color: gray;
}

.google-login-group,
.facebook-login-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 100%;
    border: 1px solid var(--blue);
    padding: 10px;
    cursor: pointer;
    transition: .3s;
    margin: 10px 0;
}

.google-login-group:hover {
    color: green;
    border: 1px solid green;
}

.facebook-login-group:hover {
    color: blue;
    border: 1px solid blue;
}

.google-login-group img,
.facebook-login-group img {
    width: 25px;
    margin-right: 10px;
}