* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1C345A;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.parent {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .parent {
    width: 95%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", 'Arial', 'sans-serif'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}